.container {
  background:
    radial-gradient(circle at center,
      rgba(76, 86, 106, 0.12) 0%,
      transparent 80%),
    #2e3440;
  width: 100%;
  max-width: 1280px;
  height: fit-content;
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: 2px solid #3b4252;
}

@media (min-width: 640px) {
  .container {
    padding: 2rem;
  }
}
